.TabContentContainer{
    background: var(--main-deep-dark);
}
.TabContentContainer img {
    width: 31.875rem;
}

.TabContentContainer .TabContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    align-items: center;
    font-size: 2rem;
    padding:2.5rem;
}

.Container{
    margin:0 10%;

}