.TabContainer {
    background: var(--main-deep-dark);
}
.TabContent{
    margin: 0 15%;
}

.TabTopContent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

.TabTopContent span{
    grid-column: 1 / 8;
}
.Btn{
    grid-column: 10/12;
    margin: 0 1.25rem 1.23rem;
}
.TabBottomContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
    margin-top: 2rem;
}
.TabContainer p{
    color: var(--main-grey);
}
.TabContainer h3{
    margin: 0.5rem 0;
}